<% content_for :head do %>
  <link href="/css/jsonEdit.css" rel="stylesheet">
<% end %>

<h1>Rankida's JSON Editor</h1>
<p>Simple, but does the job. Much like it's author.</p>

<ul class="nav nav-tabs">
  <li class="active"><a href="#jsonTab" data-toggle="tab">Text Editor</a></li>
  <li><a href="#viewerTab" data-toggle="tab">Object Viewer</a></li>
  <li><a href="#aboutTab" data-toggle="tab">About</a></li>
</ul>

<div class="tab-content">
  <div id="aboutTab" class="tab-pane">
    <h3>The Goal</h3>
    <p>Regularly manipulating JSON at work, I set about trying to create a simple yet functional JSON editor and viewer.</p>
    <p>I admit I have a long way to go but I'm aiming for regular updates, so keep tuned.</p>
    <p>If you have any feedback then please get in touch through the methods below.</p>
    <h3>Rankida?</h3>
    <p>I am a software engineer living and working in Glasgow, Scotland.</p>
    <p>You can keep in contact via <a href='https://github.com/rankida'>GitHub</a>, <a href='http://uk.linkedin.com/in/rankida'>LinkedIn</a> or
      through my online business card hosted at <a href="http://workface.com/e/rankida">Workface</a>.
    <h3>Thanks goes to...</h3>
    <p>I would be incapable of doing any web development without many of the awesome tools and frameworks out there.</p>
    <p>Particular thanks goes to <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>, <a href="http://jquery.com">jQuery</a> (of course),
      <a href="http://documentcloud.github.com/backbone/">Backbone.js</a>, <a href="http://documentcloud.github.com/underscore/">Underscore.js</a>,
      <a href="http://www.sinatrarb.com">Sinatra</a> and <a href="http://www.heroku.com">Heroku</a>.</p>
  </div>

  <div id="jsonTab" class="tab-pane active">
    <textarea class="txt" id="jsonText" placeholder="Enter some JSON to have it validated and formatted."></textarea>
    <span id="image" class="fail" style="background-image: url('img/tick_cross.png'); display:inline-block; height:47px; width:50px;"></span>
    <div></div>
    <button id='format' type="button" class="btn btn-primary">Format JSON</button>
    <button id='clear' type="button" class="btn">Clear</button>
    <button id='whitespace' type="button" class="btn">Remove Whitespace</button>
    <p></p>
    <div id="alert" class="alert alert-error"></div>
  </div>
  <div id="viewerTab" class="tab-pane">
    <div id="viewer">
      <h2>Comming soon</h2>
      <p>So get excited!</p>
    </div>
  </div>
</div>

<script type="text/javascript">

function invalidJSON(text) {
  if (text === "") {
    return false;
  }
  
  try {
    JSON.parse(text);
    return false;
  } catch (ex) {
    return "Invalid JSON: " + ex.message;
  }
}

function processText () {
  var errormsg = invalidJSON($jsonText.val().trim())
  if (errormsg) {
    $img.addClass('fail');
    $img.removeClass('pass');
    $('#alert').html(errormsg).show();
  } else {  
    $img.addClass('pass');
    $img.removeClass('fail');
    $('#alert').html("").hide();
  }
}

function stripWhitespace (text) {
  return text.replace(/(\s|\r\n|\r|\n)/gm, '');
}

$(document).ready(function (){
  $img = $('#image');
  $jsonText = $('#jsonText');
  
  $('#alert').hide();
  processText();
  
  $('#clear').click(function () {
    $jsonText.val("");
  });
  
  $('#whitespace').click(function(){
    $jsonText.val(stripWhitespace($jsonText.val()));
  })
  
  $jsonText.keyup(processText);
  
  $('#format').click(function (){
    $jsonText.val(js_beautify($jsonText.val()));
  });
  
});
</script>
