<html>
	<head>
		<title>Welcome to Rankida.com</title>
		
		<pre><code>
		<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">
		<!--[if lt IE 8]>
		  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
		<![endif]--></code></pre>
		
		<!-- Import fancy-type plugin. -->  
		    <link rel="stylesheet" href="blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" />
		
		<!-- local css overrides -->
		<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" charset="utf-8">
	</head>
	<body>
		<div class="container">
			<div id="heading">
				<h1>Rankida.com</h1>
			</div>
				<p>light the fuse!</p>
			</div>
		</div>
	</body>	
</html>