h1 {
  padding-bottom: 5px;
}
.txt {
  width: 90%;
  height: 400px;
  font-family: Monaco, Consolas, monospace;
}
.pass {
  background-position: 0px;
}
.fail {
  background-position: -50px;
}
body {
    background: #eeeeee;
}
.container {
    background: white;
    padding: 20px 25px 10px;
    
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 6px 0;
}