/* Skin: Deep Sky Blue */
a {
  color: #72BB22;
}
a:hover, a:focus {
  color: #5d981c;
}

.btn-primary {
  background-color: #72BB22;
  border-color: #72BB22;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #72BB22;
  border-color: #65a51e;
}
.btn-primary:active:focus, .btn-primary.active:focus {
  background-color: #65a51e;
  border-color: #4b7a16;
}

.section-heading h2 {
  color: #72BB22;
}

.service-item .service-icon,
.service-item .service-text a.read-more {
  color: #72BB22;
}

.work-item-filters li a:hover,
.work-item-filters li a.active {
  background-color: #72BB22;
}

.work-item-list .image-overlay {
  background-color: rgba(82, 82, 82, 0.9);
}

.team-member .team-name {
  background-color: #72BB22;
}

.twitter-stream {
  background-color: #58901a;
}
.twitter-stream .twitter-icon {
  background-color: #4b7a16;
}
.twitter-stream .twitter-icon i {
  color: #72BB22;
}

.chart .percent {
  color: #72BB22;
}
