/* Skin: Deep Sky Blue */
a {
  color: #3F7577;
}
a:hover, a:focus {
  color: #315b5c;
}

.btn-primary {
  background-color: #3F7577;
  border-color: #3F7577;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  background-color: #3F7577;
  border-color: #366566;
}
.btn-primary:active:focus, .btn-primary.active:focus {
  background-color: #366566;
  border-color: #254445;
}

.section-heading h2 {
  color: #3F7577;
}

.service-item .service-icon,
.service-item .service-text a.read-more {
  color: #3F7577;
}

.work-item-filters li a:hover,
.work-item-filters li a.active {
  background-color: #3F7577;
}

.work-item-list .image-overlay {
  background-color: rgba(82, 82, 82, 0.9);
}

.team-member .team-name {
  background-color: #3F7577;
}

.twitter-stream {
  background-color: #2d5456;
}
.twitter-stream .twitter-icon {
  background-color: #254445;
}
.twitter-stream .twitter-icon i {
  color: #3F7577;
}

.chart .percent {
  color: #3F7577;
}
