/* ------------------ TECH BANNER ------------------ */

#tech-banner {
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
	font-size: 7em;
	text-align: center;

	.node-logo {
		height: 240px;
	}

	@include max-screen($screen-medium) {
			padding-top: 20px;
			padding-bottom: 20px;
			font-size: 5em;
			.node-logo {
				height: 210px;
			}
	}

	@include max-screen($screen-small) {
			padding-top: 15px;
			padding-bottom: 15px;
			font-size: 5em;
			.node-logo {
				height: 190px;
			}
	}

	@include max-screen($screen-xsmall) {
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 5em;
			.node-logo {
				height: 170px;
			}
	}
}
