/* Skin: Deep Sky Blue */

@import "modules/all";

$accent-color: #00BFFF;
$link-hover-color: darken($accent-color, 8%);
$primary-accent-color: $accent-color;
$secondary-accent-color: #808080;

@import "_skin-styles";



